import React from "react";
import createSvgIcon from "@mui/material/utils/createSvgIcon";

/**
 * author: {{{author}}}
 * id {{{id}}}
 * name {{{name}}}
 * version: {{{version}}}
 * url {{{url}}}
 * tags{{#tags}}
 * - {{{.}}} {{/tags}}
 */

export const {{iconClassName}} = createSvgIcon({{{svg}}}, '{{iconClassName}}');
export default {{iconClassName}}