import { {{originalIconName}} } from './{{originalIconName}}';

/**
 * author: {{{author}}}
 * id {{{id}}}
 * name {{{name}}}
 * version: {{{version}}}
 * url {{{url}}}
 * tags{{#tags}}
 * - {{{.}}} {{/tags}}
 */
export const {{iconAliasClassName}} = {{originalIconName}};
export default {{iconAliasClassName}}