import React from "react";
import createSvgIcon from '@material-ui/core/utils/createSvgIcon';

{{#imports}}
{{{.}}}
{{/imports}}

export const MdiAllIcons = () => {
    return (<div style={ {display: 'flex', flexWrap: 'wrap'} }>
{{#icons}}
        {{{.}}}
{{/icons}}
    </div>)
};
